<form action="" method="POST" name="patch">
  <input type="hidden" name="_method" value="PATCH">
  <dl>
    <dt><label for="title">タイトル</label></dt>
    <dd><input type="text" name="title" id="title" value="<%= @title %>" required class="form_text"></dd>
    <dt><label for="content">内容</label></dt>
    <dd><textarea name="content" id="content" required class="form_textarea"><%= @content %></textarea></dd>
  </dl>
  <input type="submit" value="変更を保存" class="btn">
</form>
<div class="return">
  <a href='/memos/<%= @edit_memo_id %>'>前のページに戻る</a>
  <a href='/memos'>TOPページに戻る</a>
</div>
