<% content_for :title do %>
  TOPページ
<% end %>
<a href="memos/new" id="add_link">メモを登録する</a>
<div class="memos">
  <ul>
    <% @memos.each do |memo| %>
      <% sym_memo =  memo.transform_keys { |k| k.to_sym } %>
      <li>
        <a href="/memos/<%= sym_memo[:id] %>">
          <%= h sym_memo[:title] %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
